{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
    <div class="container">

        <fieldset>
            <legend>Create from scratch</legend>

            {{ form(form) }}
        </fieldset>

        <fieldset>
            <legend>Create from sentence maker</legend>

            <a href="{{ path('sentence_maker') }}">
                <button class="btn btn-primary">Go !</button>
            </a>
        </fieldset>

        <fieldset>
            <legend>List</legend>
            <ul>
                {% for sentence in sentences %}
                    <li>
                        {{ sentence.content }}
                        <a href="{{ path('pos_tagging', { sentence: sentence.content }) }}">
                            <button class="btn btn-success">
                                POS TAGGING
                            </button>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock %}