{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
    <div class="container">

        <fieldset>
            <legend>Upload</legend>

            {{ form(form) }}
        </fieldset>

        <fieldset>
            <legend>List</legend>
            <ul>
                {% for subtitle in subtitles %}
                    <li>
                        {{ subtitle.title }}
                        <a href="{{ path('word_counter_subtitle_show', { subtitle: subtitle.id }) }}">
                            <button class="btn btn-success">
                                WORD COUNTER
                            </button>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock %}