{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
    <div class="container">

        <fieldset>
            <legend>Output</legend>

            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Count words</th>
                    <th>Actions</th>
                </tr>
                {% for wordCounter in wordCounters %}
                    <tr>
                        <td>
                            {{ wordCounter.title }}
                        </td>
                        <td>
                            1000
                        </td>
                        <td>
                            <a href="{{ path('word_counter_show', { id: wordCounter.id }) }}">
                                <button class="btn btn-success">
                                    Show
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </fieldset>
    </div>
{% endblock %}