{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}
    <div class="container">

        <fieldset>
            <legend>Output</legend>

            Il y a {{ countedWords | length }} Mots



            {% if subtitle is defined %}
                <a class="btn btn-danger" href="{{ path('word_counter_create_from_subtitle', { subtitle: subtitle.id }) }}">
                    Create an history
                </a>
            {% endif %}

            <table class="table">
                <tr>
                    <th>Word</th>
                    <th>Count</th>
                </tr>
                {% for word, count in countedWords %}
                    <tr>
                        <td>
                            {{ word }}
                        </td>
                        <td>
                            {{ count }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </fieldset>
    </div>
{% endblock %}